{% extends 'base.html.twig' %}

{% block title %}Hello TransformerController!{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <div class="border border-primary container-fluid vh-100 vw-100 justify-content-md-center p-md-5 ">
        <header class="row border border-secondary text-center p-0">
            <h1 class="col-12"> {{ h1_text }} </h1>
        </header>
        <main class="row border border-secondary justify-content-md-center p-md-0">
            <article class="border col-12 col-md-6 p-md-5 p-5">
                <section class=" border text-center p-md-5 p-5">
                    <h2>Enter a sentence and choose how you want to transform it!</h2>
                    {{ form_start(form) }}
                    {{ form_widget(form.data, {'attr': {'class': 'w-100 m-1'}}) }}
                    {{ form_widget(form.transformOption, {'attr': {'class': 'w-100 m-1'}}) }}
                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary w-100 m-1'}}) }}
                    {{ form_end(form) }}
                </section>
                <section class=" border text-center p-md-5 p-1">
                    <h2>Result</h2>
                    <p class="alert-success">{{ result }}</p>
                </section>
            </article>
        </main>
        <footer class="row border border-secondary justify-content-md-center p-0">
            <p>Footer</p>
        </footer>
    </div>
{% endblock %}

  {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
  {% endblock %}
