{% extends 'base.html.twig' %}

{% block title %}Hello TransformerController!{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <div class="border border-primary container-fluid vh-100 vw-100 p-5">
        <header class="row border border-secondary w-100 d-flex justify-content-center p-0">
            <h1 class="d-block">Hello {{ controller_name }}! ✅</h1>
        </header>
        <main class="row border border-secondary w-100 d-flex justify-content-center p-0">
            <article class="border w-50 p-5">
                <section class=" border w-100 p-5">
                    <h2 class="text-center d-block">Enter a sentence and choose how you want to transform it!</h2>
                    {{ form_start(form) }}
                    {{ form_widget(form.data, {'attr': {'class': 'w-100 m-1'}}) }}
                    {{ form_widget(form.transformOption, {'attr': {'class': 'w-100 m-1'}}) }}
                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary w-100 m-1'}}) }}
                    {{ form_end(form) }}
                </section>
                <section class=" border w-100 p-5 text-center">
                    <h2>Result</h2>
                    <p class="alert-success">{{ result }}</p>
                </section>
            </article>
        </main>
        <footer class="row border border-secondary w-100 p-0 d-flex justify-content-center">
            <p>Footer</p>
        </footer>
    </div>
{% endblock %}

  {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
  {% endblock %}
